In [9]:
import pandas as pd

In [10]:

df3 = pd.read_csv('players.csv')

df6 = pd.read_csv('salary.csv')

In [11]:
df3

           PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0        Royce O'Neale  1610612762    1626220    2019
1     Bojan Bogdanovic  1610612762     202711    2019
2          Rudy Gobert  1610612762     203497    2019
3     Donovan Mitchell  1610612762    1628378    2019
4          Mike Conley  1610612762     201144    2019
...                ...         ...        ...     ...
7223       Lanny Smith  1610612758     201831    2009
7224     Warren Carter  1610612752     201999    2009
7225      Bennet Davis  1610612751     201834    2009
7226    Brian Hamilton  1610612751     201646    2009
7227   Wesley Matthews  1610612762     500032    2009

[7228 rows x 4 columns]

In [12]:
df6

,PLAYER_NAME,POSITION,NAME,SALARY,SEASON,TEAM_ID
0,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738
1,Stephon Marbury,PG,Boston Celtics,20840625,2009,1610612738
2,Ray Allen,SG,Boston Celtics,18388430,2009,1610612738
3,Paul Pierce,SF,Boston Celtics,18077903,2009,1610612738
4,Kendrick Perkins,C,Boston Celtics,4578880,2009,1610612738
...,...,...,...,...,...,...
5951,Ivan Rabb,PF,Memphis Grizzlies,1378242,2019,1610612763
5952,Joakim Noah,C,Memphis Grizzlies,1093858,2019,1610612763
5953,Jevon Carter,PG,Memphis Grizzlies,838464,2019,1610612763
5954,Bruno Caboclo,SF,Memphis Grizzlies,522151,2019,1610612763
5955,Tyler Zeller,C,Memphis Grizzlies,59820,2019,1610612763

In [13]:
df_sal_player=pd.merge(df6,df3, how="inner", on=["TEAM_ID"])
df_sal_player

,PLAYER_NAME_x,POSITION,NAME,SALARY,SEASON_x,TEAM_ID,PLAYER_NAME_y,PLAYER_ID,SEASON_y
0,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,Jaylen Brown,1627759,2019
1,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,Jayson Tatum,1628369,2019
2,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,Daniel Theis,1628464,2019
3,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,Marcus Smart,203935,2019
4,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,Kemba Walker,202689,2019
...,...,...,...,...,...,...,...,...,...
1437415,Tyler Zeller,C,Memphis Grizzlies,59820,2019,1610612763,Allen Iverson,947,2009
1437416,Tyler Zeller,C,Memphis Grizzlies,59820,2019,1610612763,Trey Gilder,201821,2009
1437417,Tyler Zeller,C,Memphis Grizzlies,59820,2019,1610612763,Mike Taylor,201446,2009
1437418,Tyler Zeller,C,Memphis Grizzlies,59820,2019,1610612763,Leon Rodgers,202078,2009
1437419,Tyler Zeller,C,Memphis Grizzlies,59820,2019,1610612763,Thomas Gardner,201242,2009

In [14]:
df_sal_player=pd.merge(df6,df3, how="inner", on=["PLAYER_NAME"])
df_sal_player

,PLAYER_NAME,POSITION,NAME,SALARY,SEASON_x,TEAM_ID_x,TEAM_ID_y,PLAYER_ID,SEASON_y
0,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,1610612750,708,2015
1,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,1610612750,708,2014
2,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,1610612751,708,2014
3,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,1610612751,708,2013
4,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,1610612738,708,2012
...,...,...,...,...,...,...,...,...,...
40910,Xavier Rathan-Mayes,SG,Memphis Grizzlies,815615,2018,1610612763,1610612752,1628504,2017
40911,Jaren Jackson Jr.,PF,Memphis Grizzlies,5915040,2019,1610612763,1610612763,1628991,2019
40912,Jaren Jackson Jr.,PF,Memphis Grizzlies,5915040,2019,1610612763,1610612763,1628991,2018
40913,Jevon Carter,PG,Memphis Grizzlies,838464,2019,1610612763,1610612756,1628975,2019
40914,Jevon Carter,PG,Memphis Grizzlies,838464,2019,1610612763,1610612763,1628975,2018

In [15]:
df_sal_player = df_sal_player.drop_duplicates()
df_sal_player

,PLAYER_NAME,POSITION,NAME,SALARY,SEASON_x,TEAM_ID_x,TEAM_ID_y,PLAYER_ID,SEASON_y
0,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,1610612750,708,2015
1,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,1610612750,708,2014
2,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,1610612751,708,2014
3,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,1610612751,708,2013
4,Kevin Garnett,PF,Boston Celtics,24751934,2009,1610612738,1610612738,708,2012
...,...,...,...,...,...,...,...,...,...
40910,Xavier Rathan-Mayes,SG,Memphis Grizzlies,815615,2018,1610612763,1610612752,1628504,2017
40911,Jaren Jackson Jr.,PF,Memphis Grizzlies,5915040,2019,1610612763,1610612763,1628991,2019
40912,Jaren Jackson Jr.,PF,Memphis Grizzlies,5915040,2019,1610612763,1610612763,1628991,2018
40913,Jevon Carter,PG,Memphis Grizzlies,838464,2019,1610612763,1610612756,1628975,2019
40914,Jevon Carter,PG,Memphis Grizzlies,838464,2019,1610612763,1610612763,1628975,2018

In [16]:
df_sal_player.to_csv('checksal1.csv', index = False)